Build started...
Build succeeded.
CREATE TABLE "Baskets" (
    "Id" uuid NOT NULL,
    "UserId" uuid,
    "SessionId" character varying(128),
    CONSTRAINT "PK_Baskets" PRIMARY KEY ("Id")
);


CREATE TABLE "Categories" (
    "Id" uuid NOT NULL,
    "Name" character varying(100) NOT NULL,
    "Description" character varying(500),
    "ImageUrl" character varying(500),
    "IsActive" boolean NOT NULL,
    "ParentCategoryId" uuid,
    "CreatedAt" timestamp with time zone NOT NULL,
    "CreatedBy" text,
    "UpdatedAt" timestamp with time zone,
    "UpdatedBy" text,
    "IsDeleted" boolean NOT NULL,
    "DeletedAt" timestamp with time zone,
    CONSTRAINT "PK_Categories" PRIMARY KEY ("Id"),
    CONSTRAINT "FK_Categories_Categories_ParentCategoryId" FOREIGN KEY ("ParentCategoryId") REFERENCES "Categories" ("Id") ON DELETE RESTRICT
);


CREATE TABLE "Orders" (
    "Id" uuid NOT NULL,
    "OrderNumber" character varying(50) NOT NULL,
    "UserId" uuid,
    "GuestEmail" character varying(200),
    "ShippingAddress" character varying(500) NOT NULL,
    "Status" integer NOT NULL,
    "CreatedAt" timestamp with time zone NOT NULL,
    "CreatedBy" text,
    "UpdatedAt" timestamp with time zone,
    "UpdatedBy" text,
    "IsDeleted" boolean NOT NULL,
    "DeletedAt" timestamp with time zone,
    CONSTRAINT "PK_Orders" PRIMARY KEY ("Id")
);


CREATE TABLE "PaymentProviderLogs" (
    "Id" uuid NOT NULL,
    "PaymentRecordId" uuid NOT NULL,
    "ProviderName" character varying(50) NOT NULL,
    "Action" character varying(50) NOT NULL,
    "SanitizedRequest" text,
    "SanitizedResponse" text,
    "IsSuccess" boolean NOT NULL,
    "HttpStatusCode" integer,
    "DurationMs" bigint NOT NULL,
    "ErrorCode" character varying(100),
    "CreatedAt" timestamp with time zone NOT NULL,
    "CreatedBy" text,
    "UpdatedAt" timestamp with time zone,
    "UpdatedBy" text,
    "IsDeleted" boolean NOT NULL,
    "DeletedAt" timestamp with time zone,
    CONSTRAINT "PK_PaymentProviderLogs" PRIMARY KEY ("Id")
);


CREATE TABLE "PaymentRecords" (
    "Id" uuid NOT NULL,
    "OrderId" uuid NOT NULL,
    "IdempotencyKey" character varying(100) NOT NULL,
    "ProviderName" character varying(50) NOT NULL,
    "Amount_Value" numeric(18,2) NOT NULL,
    "Amount_Currency" character varying(3) NOT NULL,
    "Status" character varying(20) NOT NULL,
    "ProviderReference" character varying(500),
    "ProviderTransactionId" character varying(500),
    "CallbackPayload" text,
    "FailureReason" character varying(1000),
    "ExpiresAt" timestamp with time zone,
    "CreatedAt" timestamp with time zone NOT NULL,
    "CreatedBy" text,
    "UpdatedAt" timestamp with time zone,
    "UpdatedBy" text,
    "IsDeleted" boolean NOT NULL,
    "DeletedAt" timestamp with time zone,
    CONSTRAINT "PK_PaymentRecords" PRIMARY KEY ("Id")
);


CREATE TABLE "Units" (
    "Id" uuid NOT NULL,
    "Name" character varying(50) NOT NULL,
    "Code" character varying(20),
    "CreatedAt" timestamp with time zone NOT NULL,
    "CreatedBy" text,
    "UpdatedAt" timestamp with time zone,
    "UpdatedBy" text,
    "IsDeleted" boolean NOT NULL,
    "DeletedAt" timestamp with time zone,
    CONSTRAINT "PK_Units" PRIMARY KEY ("Id")
);


CREATE TABLE "Users" (
    "Id" uuid NOT NULL,
    "FirstName" character varying(100) NOT NULL,
    "LastName" character varying(100) NOT NULL,
    "Email" character varying(200) NOT NULL,
    "PasswordHash" text NOT NULL,
    "Role" integer NOT NULL,
    "IsEmailConfirmed" boolean NOT NULL,
    "RefreshToken" character varying(500),
    "RefreshTokenExpiresAt" timestamp with time zone,
    "CreatedAt" timestamp with time zone NOT NULL,
    "CreatedBy" text,
    "UpdatedAt" timestamp with time zone,
    "UpdatedBy" text,
    "IsDeleted" boolean NOT NULL,
    "DeletedAt" timestamp with time zone,
    CONSTRAINT "PK_Users" PRIMARY KEY ("Id")
);


CREATE TABLE "WishlistItems" (
    "Id" uuid NOT NULL,
    "UserId" uuid NOT NULL,
    "ProductId" uuid NOT NULL,
    "CreatedAt" timestamp with time zone NOT NULL,
    "CreatedBy" text,
    "UpdatedAt" timestamp with time zone,
    "UpdatedBy" text,
    "IsDeleted" boolean NOT NULL,
    "DeletedAt" timestamp with time zone,
    CONSTRAINT "PK_WishlistItems" PRIMARY KEY ("Id")
);


CREATE TABLE "BasketItems" (
    "Id" uuid NOT NULL,
    "ProductId" uuid NOT NULL,
    "ProductName" character varying(200) NOT NULL,
    "BasketId" uuid NOT NULL,
    "UnitPrice_Amount" numeric(18,2) NOT NULL,
    "UnitPrice_Currency" character varying(3) NOT NULL,
    "Quantity" numeric(18,3) NOT NULL,
    CONSTRAINT "PK_BasketItems" PRIMARY KEY ("Id"),
    CONSTRAINT "FK_BasketItems_Baskets_BasketId" FOREIGN KEY ("BasketId") REFERENCES "Baskets" ("Id") ON DELETE CASCADE
);


CREATE TABLE "OrderItems" (
    "Id" uuid NOT NULL,
    "ProductId" uuid NOT NULL,
    "ProductName" character varying(200) NOT NULL,
    "UnitPrice_Amount" numeric(18,2) NOT NULL,
    "UnitPrice_Currency" character varying(3) NOT NULL,
    "Quantity" numeric(18,3) NOT NULL,
    "OrderId" uuid,
    CONSTRAINT "PK_OrderItems" PRIMARY KEY ("Id"),
    CONSTRAINT "FK_OrderItems_Orders_OrderId" FOREIGN KEY ("OrderId") REFERENCES "Orders" ("Id") ON DELETE CASCADE
);


CREATE TABLE "Products" (
    "Id" uuid NOT NULL,
    "Name" character varying(200) NOT NULL,
    "Description" character varying(2000),
    "ImageUrl" character varying(500),
    "Price_Amount" numeric(18,2) NOT NULL,
    "Price_Currency" character varying(3) NOT NULL,
    "StockQuantity" numeric(18,3) NOT NULL,
    "IsActive" boolean NOT NULL,
    "CategoryId" uuid NOT NULL,
    "UnitId" uuid NOT NULL,
    "CreatedAt" timestamp with time zone NOT NULL,
    "CreatedBy" text,
    "UpdatedAt" timestamp with time zone,
    "UpdatedBy" text,
    "IsDeleted" boolean NOT NULL,
    "DeletedAt" timestamp with time zone,
    CONSTRAINT "PK_Products" PRIMARY KEY ("Id"),
    CONSTRAINT "FK_Products_Categories_CategoryId" FOREIGN KEY ("CategoryId") REFERENCES "Categories" ("Id") ON DELETE RESTRICT,
    CONSTRAINT "FK_Products_Units_UnitId" FOREIGN KEY ("UnitId") REFERENCES "Units" ("Id") ON DELETE RESTRICT
);


CREATE TABLE "UserAddresses" (
    "Id" uuid NOT NULL,
    "UserId" uuid NOT NULL,
    "Title" character varying(100) NOT NULL,
    "FullName" character varying(200) NOT NULL,
    "AddressLine1" character varying(500) NOT NULL,
    "AddressLine2" character varying(500),
    "City" character varying(100) NOT NULL,
    "PostalCode" character varying(20) NOT NULL,
    "Country" character varying(100) NOT NULL,
    "IsDefault" boolean NOT NULL,
    "IsActive" boolean NOT NULL,
    "CreatedAt" timestamp with time zone NOT NULL,
    "CreatedBy" text,
    "UpdatedAt" timestamp with time zone,
    "UpdatedBy" text,
    "IsDeleted" boolean NOT NULL,
    "DeletedAt" timestamp with time zone,
    CONSTRAINT "PK_UserAddresses" PRIMARY KEY ("Id"),
    CONSTRAINT "FK_UserAddresses_Users_UserId" FOREIGN KEY ("UserId") REFERENCES "Users" ("Id") ON DELETE CASCADE
);


CREATE INDEX "IX_BasketItems_BasketId" ON "BasketItems" ("BasketId");


CREATE UNIQUE INDEX "IX_Categories_Name" ON "Categories" ("Name");


CREATE INDEX "IX_Categories_ParentCategoryId" ON "Categories" ("ParentCategoryId");


CREATE INDEX "IX_OrderItems_OrderId" ON "OrderItems" ("OrderId");


CREATE UNIQUE INDEX "IX_Orders_OrderNumber" ON "Orders" ("OrderNumber");


CREATE INDEX "IX_Orders_UserId" ON "Orders" ("UserId");


CREATE INDEX "IX_PaymentProviderLogs_CreatedAt" ON "PaymentProviderLogs" ("CreatedAt");


CREATE INDEX "IX_PaymentProviderLogs_PaymentRecordId" ON "PaymentProviderLogs" ("PaymentRecordId");


CREATE INDEX "IX_PaymentRecords_OrderId" ON "PaymentRecords" ("OrderId");


CREATE UNIQUE INDEX "IX_PaymentRecords_OrderId_IdempotencyKey" ON "PaymentRecords" ("OrderId", "IdempotencyKey");


CREATE INDEX "IX_PaymentRecords_Processing_ExpiresAt" ON "PaymentRecords" ("Status", "ExpiresAt") WHERE "Status" = 'Processing';


CREATE INDEX "IX_PaymentRecords_ProviderReference" ON "PaymentRecords" ("ProviderReference");


CREATE INDEX "IX_Products_CategoryId" ON "Products" ("CategoryId");


CREATE UNIQUE INDEX "IX_Products_Name" ON "Products" ("Name") WHERE "IsDeleted" = false;


CREATE INDEX "IX_Products_UnitId" ON "Products" ("UnitId");


CREATE UNIQUE INDEX "IX_Units_Code" ON "Units" ("Code") WHERE "Code" IS NOT NULL;


CREATE UNIQUE INDEX "IX_Units_Name" ON "Units" ("Name");


CREATE INDEX "IX_UserAddresses_UserId" ON "UserAddresses" ("UserId");


CREATE UNIQUE INDEX "IX_Users_Email" ON "Users" ("Email");


CREATE INDEX "IX_WishlistItems_UserId" ON "WishlistItems" ("UserId");


CREATE UNIQUE INDEX "IX_WishlistItems_UserId_ProductId" ON "WishlistItems" ("UserId", "ProductId") WHERE "IsDeleted" = false;



